Source: debian-junior-live
Section: misc
Priority: optional
Maintainer: Debian Junior <debian-jr@lists.debian.org>
Uploaders: Stefan Kropp <stefan.kropp@posteo.de>
Build-Depends: debhelper-compat (= 13)
Standards-Version: 4.5.0
Vcs-Browser: https://salsa.debian.org/debian-jr-team/debian-junior-live-system
Vcs-Git: https://salsa.debian.org/debian-jr-team/debian-junior-live-system.git
Homepage: https://salsa.debian.org/debian-jr-team/debian-junior-live-system

Package: debian-junior-live
Architecture: any
Multi-Arch: foreign
Depends: ${misc:Depends}, ${shlibs:Depends}
Suggests: live-build
Description: Debian Junior live system image
 This package contains the files for live-build to
 build the Debian Junior live system image 
